<!DOCTYPe html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript">
			function login() {
				$.ajax({
					type: "POST",
					url: window.location+"user/login",
					data: {user: $("#user").val(), password: $("#password").val()}
				}).done(function(msg) {
					if (msg.errCode == 1) {
						$("#count").html("You have logged in "+msg.count+" times.");
						$("#Login").hide();
						$("#Logout").show();
					} else {
						errMsg(msg.errCode);
					}
				});
			}
			function add() {
				$.ajax({
					type: "POST",
					url: window.location+"user/add",
					data: {user: $("#user").val(), password: $("#password").val()}
				}).done(function(msg) {
					if (msg.errCode == 1) {
						$("#count").html("You have logged in "+msg.count+" times.");
						$("#Login").hide();
						$("#Logout").show();
					} else {
						errMsg(msg.errCode);
					}
				});
			}
			function errMsg(errCode) {
				switch (errCode) {
					case -1:
						$("#warning").html("Invalid credentials. Please try again.");
						break;
					case -2:
						$("#warning").html("User already exists.");
						break;
					case -3:
						$("#warning").html("Invalid username. It can not be blank and must be 128 characters or shorter.")
						break;
					case -4:
						$("#warning").html("Invalid password. Must be 128 characters or shorter.")
						break;
				}
			}
		</script>
	</head>
	<body>
    	<div>
        	<center>
                <form id="Login" style="inline-box-align: last; margin:10px,20px,10px,20px">
                    <label id="warning"></label>
                    <br>
                    <label>Please enter your credentials.</label><br>
                  	<label>User: </label>
                  	<input type='text' id='user' name='user'>
                  	<br>
                    <label>Password: </label>
                    <input type='password' id='password' name='password'> <br>
                    <input type='button' Value='Log In' onClick="login();">
                    <input type='button' value='Add User' onClick="add()">
                </form>
        		<form id="Logout" style="display:none">
        			<label id="count"></label> <br>
  					<input type='button' value="Log Out" onClick="location.reload()">
            
       			 </form>
             </center>
         </div>
	</body>
</html>