<!DOCTYPe html>
<html>
	<head>
		<script src="jquery-1.11.0.js"></script>
		<script type="text/javascript">
			function login() {
				$.ajax({
					type: "POST",
					url: "http://stark-sands-5954.herokuapp.com/user/login/",
					data: {user: "alex", password: "test"}
				}).done(function(msg) {
					alert(msg);
				});
			}
			function add() {
				$.ajax({
					type: "POST",
					url: "http://stark-sands-5954.herokuapp.com/user/add/",
					data: {user: "alex", password: "test"}
				}).done(function(msg) {
					alert(msg);
				});
			}
		</script>
	</head>
	<body>
		<form id="Login">
			<label>User: </label>
			<input type='text' id='user' name='user'><br>
			<label>Password: </label>
			<input type='password' id='password' name='password'> <br>
			<input type='button' Value='Log In' onclick="login();">
			<input type='button' value='Add User' onclick="add()">
		</form>
	</body>
</html>